/* Default styling for input fields
 ----------------------------------*/
input {
    border: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #969696; /*padding:3px 0 0 5px;*/
}

label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #6d6d6d;
    text-transform: uppercase;
}

textarea	{
	font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
	color:#969696;
}

fieldset li em {
    background: url(../images/ui.png) no-repeat scroll right top;
}

fieldset li span {
    background: url(../images/ui.png) no-repeat scroll left top;
}

/* Utility Login Layer
 ----------------------------------*/

fieldset.loginWin {
    float: left;
    padding-left: 0;
}

fieldset.loginWin legend {
    font-family: Helvetica, Arial, sans-serif;
    color: #a5ab21;
    font-size: 14px;
    padding: 0 0 22px 0;
}

fieldset.loginWin label {
    padding-left: 4px;
}

fieldset.loginWin label#email {
    float: left;
    margin-right: 198px;
    position: relative;
}

fieldset.loginWin label#password {
    float: left;
}

fieldset.loginWin li {
    display: inline;
    float: left;
    position: relative;
}
fieldset.loginWin li span {
    margin: 3px 2px 9px -2px;
    padding: 0 0 0 8px;
    display: block;
}

fieldset.loginWin li em {
    display: block;
    line-height: 27px;
    height: 27px;
    margin: 0 -2px 0 0;
    padding: 0 8px 0 0;
    font-style: normal;
}

fieldset.loginWin li span input {
    background: none;
}

fieldset.loginWin li span input#email {
    background: none;
    width: 213px;
}

fieldset.loginWin li span input#pwd {
    background: none;
    width: 98px;
}

/* Sliding Panel Login - No Longer Being Used
 ----------------------------------*/

fieldset.letterInfo {
    margin: 0 0 0 31px;
}

fieldset.letterInfo label {
    padding: 0 0 0 4px;
}

fieldset.letterInfo li {
}

fieldset.letterInfo li span {
    background: url(../images/ui.png) no-repeat scroll left top;
    margin: 3px 2px 0 0;
    padding: 0 0 0 8px;
    display: block;
}

fieldset.letterInfo li em {
    background: url(../images/ui.png) no-repeat scroll right top;
    display: block;
    line-height: 27px;
    height: 27px;
    margin: 0 -2px 0 0;
    padding: 0 8px 0 0;
    font-style: normal;
}

fieldset.letterInfo li em.select {
    background: url(../images/ui.png) no-repeat scroll right -27px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #181818;
    cursor: pointer;
    width: 308px;
}

fieldset.letterInfo li span input {
    background: none;
    width: 308px;
}

fieldset.letterInfo ul.left {
    float: left;
}

fieldset.letterInfo ul.left li {
    padding: 7px 0 10px 0;
}

fieldset.letterInfo ul.right {
    float: right;
}

fieldset.letterInfo ul.right li {
    padding: 0px 0 8px 0;
}

fieldset.accountInfo {
    float: left;
    padding-left: 73px;
}

fieldset.accountInfo label {
    padding: 0 0 0 4px;
}

fieldset.accountInfo li {
}

fieldset.accountInfo li span {
    background: url(../images/ui.png) no-repeat scroll left top;
    margin: 3px 2px 9px 0;
    padding: 0 0 0 8px;
    display: block;
}

fieldset.accountInfo li em {
    background: url(../images/ui.png) no-repeat scroll right top;
    display: block;
    line-height: 27px;
    height: 27px;
    margin: 0 -2px 0 0;
    padding: 0 8px 0 0;
    font-style: normal;
}

fieldset.accountInfo li em.select {
    background: url(../images/ui.png) no-repeat scroll right -27px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #181818;
    cursor: pointer;
    width: 161px;
}

fieldset.accountInfo li span input {
    background: none;
    width: 184px;
}

fieldset.accountInfo ul.left {
    float: left;
    padding-right: 67px;
}

fieldset.accountInfo ul.right {
    float: left;
}

fieldset.freeTrial {
    margin: 0 0 0 39px;
    width: 230px;
}

fieldset.freeTrial li {
    padding-top: 4px;
}

fieldset.freeTrial label {
    padding: 0 15px 0 6px;
}

fieldset.freeTrial input {
    background: none;
}

fieldset.freeTrial li span {
    background: url(../images/ui.png) no-repeat scroll left top;
    margin: 3px 2px 0 0;
    padding: 0 0 0 8px;
    display: block;
}

fieldset.freeTrial li em {
    background: url(../images/ui.png) no-repeat scroll right top;
    display: block;
    line-height: 27px;
    height: 27px;
    margin: 0 -2px 0 0;
    padding: 0 8px 0 0;
    font-style: normal;
}

.required {
    background: url(../images/required.png) no-repeat;
}

fieldset.freeTrial label#firstname {
    background-position: 77px 3px;
}

fieldset.freeTrial label#lastname {
    background-position: 74px 3px;
}

fieldset.freeTrial label#email {
    background-position: 49px 3px;
}

fieldset.requestInfo {
    float: left;
}
fieldset.requestInfo li span {
    background: url(../images/ui.png) no-repeat scroll left top;
    margin: 3px 2px 9px 0;
    padding: 0 0 0 8px;
    display: block;
}

fieldset.requestInfo li em {
    background: url(../images/ui.png) no-repeat scroll right top;
    display: block;
    line-height: 27px;
    height: 27px;
    margin: 0 -2px 0 0;
    padding: 0 8px 0 0;
    font-style: normal;
}

fieldset.requestInfo li em.select {
    background: url(../images/ui.png) no-repeat scroll right -27px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #181818;
    cursor: pointer;
    width: 161px;
}

fieldset.requestInfo li span input {
    background: none;
    width: 184px;
}

fieldset.requestInfo ul.left {
    float: left;
}



/* Subscribe Left Hand Module
 ----------------------------------*/
#blogSearch_container{
	background:url("../images/235_shadowborder_top.png") no-repeat scroll center top transparent;
	display:inline;
	float:left;
	width:235px;
}
#blogSearch_container .blogSearch_containerInner{
	margin:15px auto;
	width:200px;
}
#blogSearch_container h5{
	border-bottom:1px dotted #cbcbcb;
	color:#00aeb0;
	font-size:24px;
	margin-bottom:.5em;
	padding-bottom:.25em;
}
 fieldset.blogSearchBox {
	 *height:60px;
}
fieldset.subscribe, fieldset.blogSearchBox {
    float: left;
    padding: 0;
}

fieldset.subscribe label, fieldset.blogSearchBox label {
    padding: 0 0 0 4px;
}

fieldset.subscribe li, fieldset.blogSearchBox li {
}

fieldset.subscribe li span, fieldset.blogSearchBox li span {
    margin: 3px 2px 9px 0;
    padding: 0 0 0 8px;
    display: block;
}

fieldset.subscribe li em, fieldset.blogSearchBox li em{
    display: block;
    line-height: 27px;
    height: 27px;
    margin: 0 -2px 0 0;
    padding: 0 8px 0 0;
    font-style: normal;
}

fieldset.subscribe li em.select, fieldset.blogSearchBox li em.select {
    background: url(../images/ui.png) no-repeat scroll right -27px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #3e3e3e;
    cursor: pointer;
    width: 161px;
}

fieldset.subscribe li span input, fieldset.blogSearchBox li span input {
    background: none;
    width: 186px;
}

fieldset.memberLogin	{
	width: 329px;
}

fieldset.memberLogin li {

}

fieldset.memberLogin legend {
    text-transform:uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
	color: #2dadad;
	padding-bottom:10px;
}

fieldset.memberLogin label {
    padding: 0 15px 0 6px;
}

fieldset.memberLogin input {
    background: none;
}

fieldset.signupInfo legend {
    text-transform:uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
	color: #2dadad;
	padding-bottom:10px;
}

fieldset.memberLogin li span input {
    background: none;
    width: 216px;
}

fieldset.memberLogin li span {
    background: url(../images/ui.png) no-repeat scroll left top;
    margin: 3px 2px 9px 0;
    padding: 0 0 0 8px;
    display: block;
}

fieldset.memberLogin li em {
    background: url(../images/ui.png) no-repeat scroll right top;
    display: block;
    line-height: 27px;
    height: 27px;
    margin: 0 -2px 0 0;
    padding: 0 8px 0 0;
    font-style: normal;
}

.txtAreaStyle {
	width:524px; 
	height:332px;
	padding:15px;  
	background:url(../images/bg_txtarea.png) no-repeat;
}

.txtArea	{
	width:495px; 
	height:320px; 
	border:0; 
	margin:0;  
	resize:none;
}

fieldset.welcomeLogin	{
	width: 259px;
	margin:0 auto;
}

fieldset.welcomeLogin li {

}

fieldset.welcomeLogin legend {
    text-transform:uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
	line-height:26px;
	color: #8d9522;
	padding-bottom:10px;
}

fieldset.welcomeLogin label {
    padding: 0 15px 0 6px;
}

fieldset.welcomeLogin input {
    background: none;
}

fieldset.welcomeLogin li span input {
    background: none;
    width: 216px;
}

fieldset.welcomeLogin li span {
    background: url(../images/ui.png) no-repeat scroll left top;
    margin: 3px 2px 9px 0;
    padding: 0 0 0 8px;
    display: block;
}

fieldset.welcomeLogin li em {
    background: url(../images/ui.png) no-repeat scroll right top;
    display: block;
    line-height: 27px;
    height: 27px;
    margin: 0 -2px 0 0;
    padding: 0 8px 0 0;
    font-style: normal;
}



